@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@keyframes dropdown-enter {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-dropdown {
  animation: dropdown-enter 0.1s ease-out forwards;
}

:root {
  --background: #ffffff;
  --foreground: #09090b; /* Zinc-950 */
}

.dark {
  --background: #09090b; /* Zinc-950 */
  --foreground: #fafafa; /* Zinc-50 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  transition:
    background-color 0.5s cubic-bezier(0.32, 0.72, 0, 1),
    color 0.5s ease; /* Smoother transition */
  min-height: 100dvh;
}

/* Ensure full height for mobile prevents bouncy scroll */
html {
  height: 100%;
}
